<% provide(:title, t('.title')) %>

<div class="animated fadeIn">
  <h3><%= t('admin.index.welcome', admin: current_user.first_name) %></h3>

  <div class="row">
    <div class="span4">
      <div class="admin-widget-users">
        <h3 class="text-center"><%= t('admin.index.users') %></h3>
        <h1><%= User.count %></h1>
      </div>
    </div>
    <div class="span4">
      <div class="admin-widget-posts">
        <h3 class="text-center"><%= t('admin.index.posts') %></h3>
        <h1><%= Micropost.count %></h1>
      </div>
    </div>
    <div class="span4">
      <div class="admin-widget-comments">
        <h3 class="text-center"><%= t('admin.index.comments') %></h3>
        <h1><%= Comment.count %></h1>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead class="table-head">
      <tr>
        <th colspan="6"><%= t('admin.index.last_users') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= t('users.new.first_name_html') %></th>
        <th><%= t('users.new.last_name_html') %></th>
        <th><%= t('users.new.email_html') %></th>
        <th><%= t('users.edit.country_html') %></th>
        <th><%= t('admin.index.joined_at') %></th>
        <th><%= t('admin.index.actions') %></th>
      </tr>
      <% User.all.order('id desc').limit(10).each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td>
            <%= mail_to user.email %>
            <% if user.activated %>
              <span class="label label-success" data-toggle="tooltip" data-placement="right"
                    data-animation="true" title="<%= l user.activated_at, format: :date %>">
                <%= t('admin.index.activated') %>
              </span>
            <% else %>
              <span class="label label-warning"><%= t('admin.index.not_activated') %></span>
            <% end %>
          </td>
          <td><%= user.country %></td>
          <td><%= l user.created_at, format: :date %></td>
          <td><%= link_to t('admin.index.view_profile'), user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
