<% provide(:title, t('.title_html')) %>

<h1 class="animated fadeInDown"><%= t('.header_html') %></h1>

<div class="row">
  <div class="span6 offset3 animated fadeInRight">
    <%= form_for(@user, html: {multipart: true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionA"><%= t('.profile_html') %></a></li>
        <li><a data-toggle="tab" href="#sectionB"><%= t('.security_html') %></a></li>
        <li><a data-toggle="tab" href="#sectionC"><%= t('.personal_info_html') %></a></li>
      </ul>

        <div class="tab-content">
          <div id="sectionA" class="tab-pane fade in active">
            <%= f.label :first_name, t('.first_name_html') %>
            <%= f.text_field :first_name %>

            <%= f.label :last_name, t('.last_name_html') %>
            <%= f.text_field :last_name %>

            <%= f.label :email, t('.email_html') %>
            <%= f.email_field :email %>

            <%= image_tag(@user.avatar.url, class: 'avatar', style: 'margin-bottom: 10px;') %>
            <span class="picture">
              <%= f.file_field :avatar, accept: 'image/jpeg, image/gif, image/png' %>
            </span>
            <%= f.hidden_field :avatar_cache %>
          </div>

          <div id="sectionB" class="tab-pane fade">
            <%= f.label :password, t('.password_html') %>
            <%= f.password_field :password, placeholder: '••••••' %>

            <%= f.label :password_confirmation, t('.confirmation_html') %>
            <%= f.password_field :password_confirmation, placeholder: '••••••' %>
          </div>

          <div id="sectionC" class="tab-pane fade">
            <%= f.label :phone_number, t('.phone_number_html') %>
            <%= f.telephone_field :phone_number %>

            <%= f.label :gender, t('.gender_html') %>
            <%= f.select :gender, options_for_select([[t('users.gender_options.male'), 'Male'],
                                                      [t('users.gender_options.female'), 'Female']], @user.gender),
                         prompt: t('.select_gender_html') %>

            <%= f.label :date_of_birth, t('.date_of_birth_html') %>
            <div class="input-append date">
              <%= f.date_field :date_of_birth, class: 'date_picker', placeholder: 'yyyy-mm-dd' %>
              <span class="add-on"><i class="icon-calendar"></i></span>
            </div>

            <%= f.label :country, t('.country_html') %>
            <%= f.text_field :country %>

            <%= f.label :city, t('.city_html') %>
            <%= f.text_field :city %>

            <%= f.label :address, t('.address_html') %>
            <%= f.text_field :address %>

            <%= f.label :bio, t('.bio_html') %>
            <%= f.text_area :bio %>
          </div>
        </div>

        <hr>
        <%= f.label :current_password, t('.current_html') %>
        <%= f.password_field :current_password, placeholder: '••••••' %>

        <%= f.submit t('.save_html'), data: {disable_with: t('.saving_html')},
                     class: 'btn btn-large btn-block btn-primary' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#user_avatar').bind('change', function() {
    var size_in_megabytes = this.files[0].size / 1024 / 1024;

    if (size_in_megabytes > 2) {
      alert(<%= t('.alert_html') %>);
    }
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.date_picker').datepicker({
      format: 'yyyy-mm-dd',
      startView: 2,
      todayBtn: true,
      autoclose: true,
      todayHighlight: true
    });
  });
</script>
