<% provide(:title, "Редагування користувача") %>
<h1>Оновіть дані Вашого профілю</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, "Ім’я користувача" %>
        <%= f.text_field :name %>

        <%= f.label :email, "Електронна пошта" %>
        <%= f.text_field :email %>

        <%= f.label :password, "Пароль" %>
        <%= f.password_field :password, placeholder: "••••••" %>

        <%= f.label :password_confirmation, "Підтвердження паролю" %>
        <%= f.password_field :password_confirmation, placeholder: "••••••" %>

        <%= f.submit "Зберегти зміни", class: "btn btn-large btn-block btn-primary button_font" %>
    <% end %>

    <%= gravatar_for(@user) %>
    <a href="http://gravatar.com/emails" class="btn btn-default">Змінити</a>
  </div>
</div>
