<% provide(:title, 'Всі користувачі') %>
<h1>Всі користувачі</h1>
<div class="row">
  <div class="span4">
    <%= form_tag users_path, :method => 'get' do %>
    <p>
      <%= label :search, "Пошук користувачів:" %>
      <%= text_field_tag :search, params[:search], placeholder: "Shisui Uchiha" %>
      <%= submit_tag "Пошук", :name => nil, class: "btn btn-primary button_font" %>
    </p>
    <% end %>
  </div>
</div>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
