<% provide(:title, t('.title_html')) %>

<h1 class="animated fadeInDown"><%= t('.title_html') %></h1>

<div class="animated fadeIn">
  <div class="row">
    <div class="span6">
      <%= form_tag users_path, method: 'get' do %>
        <div style="float: left;">
          <%= search_field_tag :search, params[:search], placeholder: t('.name_html'), size: 30 %>
        </div>

        <div style="float: left; padding-left: 20px;">
          <%= submit_tag t('.search_html'), name: nil, data: {disable_with: t('.searching_html')},
                         class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= will_paginate %>
</div>

<% if @users.blank? %>
  <h4 class="animated pulse"><%= t('.result_html') %></h4>
<% end %>
