<div class="new-post">
  <div class="row-fluid">
    <div class="span12">
      <%= form_for(@micropost, html: {multipart: true}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_area :content, placeholder: t('.textarea_html'), class: 'body-input', rows: 3, required: true %>

        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png', class: 'picture' %>


        <%= f.submit t('.post_html'), data: {disable_with: t('.posting_html')},
                     class: 'btn btn-primary pull-right' %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function () {
    var size_in_megabytes = this.files[0].size / 1024 / 1024;

    if (size_in_megabytes > 2) {
      alert(<%= t('.alert_html') %>);
    }
  });
</script>
