<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("black-flame-vector.png"), root_path, id: "logo_image" %>
      <%= link_to "Amaterasu", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Головна сторінка", root_path, id: "main" %></li>
          <li><%= link_to "Довідка", help_path, id: "help" %></li>
          <li><%= link_to "Увійти", '#', id: "sign_in" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>