<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("black-flame-vector.png"), root_path, id: "logo_image" %>
      <%= link_to "Amaterasu", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Головна сторінка", root_path, id: "main" %></li>
          <li><%= link_to "Довідка", help_path, id: "help" %></li>
          <% if signed_in? %>
              <li><%= link_to "Користувачі", '#', id: "users" %></li>
              <li id="fat-menu" class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Обліковий запис <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Профіль", current_user, id: "profile" %></li>
                  <li><%= link_to "Налаштування", '#', id: "settings" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Вийти", signout_path, method: "delete", id:"delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
          <li><%= link_to "Увійти", signin_path, id: "sign_in" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>